:root {
    --colorMeetup-primary: #77002e;
    --colorMeetup-primary-light: #ac144e;
    --colorMeetup-primary-dark: #4b041f;

    // --color-secondary: #71a223;
    // --color-secondary-light: #c3ed6c;
    // --color-secondary-dark: #1a5e01;
}
